<!doctype html>
<html>
<head>
    <title>DHT Data Sensor</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
	body {
	    text-align: center;
	}
	#g1,
	#g2, #g3, #g4 {
	    width: 200px;
	    height: 160px;
	    display: inline-block;
	    margin: 1em;
	}
   </style>
</head>
<body>
    <h1>DHT Sensor Data </h1>
    <div id="g1"></div>
	<div id="g2"></div>
	<h2>DHT Sensor Data 2</h2>
	<div id="g3"></div>
	<div id="g4"></div>
    <hr>
	<h3> Last Sensors Reading: {{ time }} ==> <a href="/"class="button">REFRESH</a></h3>	
	<hr>
	<h4>
		<form action="/" method="post">
			{{warning}}
			Check graph between: <br>

			PAS OP!! Het dataformat wat voor datums wordt gebruikt slaat nergens op -> in dit form type<br>
			als je 24:01 s'nachts wilt hebben is dit: 12:01 AM als je 01:01 wilt hebben is dit 01:01AM<br>
			hetzeldfe geldt voor smiddags: 12:01 is 12:01PM en 13:01 is 01:01 PM<br>

			<input type="datetime-local" name="starttime"><br>
			And:<br>
			<input type="datetime-local" name="endtime"><br>
			<input type="submit" value="Send">
		</form>
		<br>{{warning}}<br> 

	</h4>
	<h5>
		<img src="{{ image1}}"/><br>
		<img src="{{ image2 }}"/><br>
	</h5>
	<p> @2018 Developed by MJRoBot.org adjusted by Niek & Gerben</p>
    
    <script src="../static/raphael-2.1.4.min.js"></script>
    <script src="../static/justgage.js"></script>
    <script>
	var g1, g2, g3, g4;
	document.addEventListener("DOMContentLoaded", function(event) {
	    g1 = new JustGage({
		id: "g1",
		value: {{temp}},
		valueFontColor: "yellow",
		min: -10,
		max: 50,
		title: "Temperature",
		label: "Celcius"
	});
	    g2 = new JustGage({
		id: "g2",
		value: {{hum}},
		valueFontColor: "yellow",
		min: 0,
		max: 100,
		title: "Humidity",
		label: "%"
	});
	    g3 = new JustGage({
		id: "g3",
		value: {{temp2}},
		valueFontColor: "yellow",
		min: -10,
		max: 50,
		title: "temperature",
		label: "Celcius"
	});
	    g4 = new JustGage({
		id: "g4",
		value: {{hum2}},
		valueFontColor: "yellow",
		min: 0,
		max: 100,
		title: "Humidity",
		label: "%"
	});
      
	  });
    </script>
</body>
</html>